/* variables */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsansnarrow/v12/BngRUXNadjH0qYEzV7ab-oWlsYCB.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
* {
  /* General body-styling and browser reset */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
}
* li {
  cursor: pointer;
  list-style: none;
}
* a {
  text-decoration: none;
  color: #141414;
}
* a:hover,
* p > a {
  color: #fafafa;
}
* p > a:hover {
  text-decoration: underline;
}
main {
  background-color: #ccc;
}
header {
  padding-bottom: 1.5em;
  border: 1px solid black;
  background-color: #b3b3b3;
}
nav {
  display: flex;
  flex-direction: column;
}
nav li a {
  background-color: transparent;
}
/*   Mobile menu */
.nav,
.nav-child {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  order: 2;
  display: none;
}
/*   Class to display hidden Navigation */
.nav.active {
  display: block;
}
/*   Submenus   */
.nav-child {
  display: flex;
}
.active .navchild {
  display: flex;
}
.burger {
  /* set the Burger as the first element in the flex order of the nav-id */
  order: 1;
  cursor: pointer;
  margin: 2vw 2vw 2vw auto;
  /* The burger icon itself consitst of three little divs with rounded corners and white border-color; */
}
.burger div {
  width: 25px !important;
  height: 3px !important;
  background-color: #777;
  margin: 5px;
  border-radius: 5px;
}
nav > ul > li.deeper.parent > a::after {
  /* 	menu Points with submenu-points */
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: #141414;
  padding-left: 5px;
}
