/* variables */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ptsansnarrow/v12/BngRUXNadjH0qYEzV7ab-oWlsYCB.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  background-color: #ccc;
}
body {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: #141414;
  font-size: 20px;
  line-height: 1.5em;
}
/* header{
	position: relative;
} */
.nav,
h1,
h2,
h3,
h4 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.2em;
  margin: 0 0 1.5em 0;
}
main,
.breadcrumb {
  padding: 2vw;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  width: 100%;
}
nav ul li {
  position: relative;
  float: left;
  padding: 5%;
  list-style: none;
  background-color: #ccc;
}
nav ul li:last-child {
  /* create a bottom rounded corner to each submenu's last item */
  border-radius: 0px 0px 10px 10px;
}
nav ul li ul {
  /*dropdown-submenu*/
  width: 100%;
  display: none;
  position: absolute;
  z-index: 20;
}
nav ul li ul :hover {
  background-color: #d1d1d1;
  /* If this is not set, the submneu next to this hides part of the color */
  z-index: 4;
}
a {
  text-decoration: none;
  color: #141414;
}
.open-slide {
  background-color: #fb7272 !important;
  width: 30px;
  height: 10px;
}
nav ul li ul li {
  width: 200px;
  margin-left: -0.6em;
  padding: 0.6em !important;
  line-height: 2em;
}
nav ul li ul li a {
  padding: 0;
}
nav ul li ul li a:hover {
  word-wrap: none;
}
nav ul li:hover ul {
  display: block;
}
.burger {
  cursor: pointer;
  display: none;
  margin: 2vw 2vw 2vw auto;
}
.burger div {
  width: 25px !important;
  height: 3px !important;
  background-color: #fff;
  margin: 5px;
  border-radius: 5px;
}
/*end styling of nav*/
img,
iframe {
  margin: 0 2vw 2vw 0;
  float: left;
  max-width: 90% !important;
}
.items-row::after {
  /* Creates the wanted float-stop at the end of each article */
  display: block;
  font-size: 0;
  clear: both;
  content: "article-Separator";
}
.breadcrumb li a:hover {
  color: #fafafa;
}
.breadcrumb * {
  float: left;
  list-style: none;
  padding-left: 5px;
}
@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  img,
  iframe {
    float: none;
    display: block;
  }
  .nav {
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  .nav li {
    background-color: #f3c2c2;
    text-align: end;
    width: 100%;
    height: 100%;
    margin-right: 5vw;
  }
  .burger {
    display: block !important;
  }
}
